<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="com.hhh.platform.ops.branding.default"
            class="com.hhh.platform.ops.OPSEntryPoint"
            id="com.hhh.platform.ops.entrypoint"
            path="/ops">
      </entrypoint>
      <entrypoint
            brandingId="com.hhh.platform.ops.branding.default"
            class="com.hhh.platform.ops.OPSDataEntryPoint"
            id="com.hhh.platform.ops.entrypoint.data"
            path="/ops_data">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.hhh.platform.ops.perspective.HomePerspective"
            id="com.hhh.platform.ops.perspective.home"
            name="首页透视图">
      </perspective>
      <perspective
            class="com.hhh.platform.ops.perspective.ProductRegisterPerspective"
            id="com.hhh.platform.ops.perspective.product.register"
            name="产品登记透视图">
      </perspective>
      <perspective
            class="com.hhh.platform.ops.perspective.ServerRegisterPerspective"
            id="com.hhh.platform.ops.perspective.server.register"
            name="服务器登记透视图">
      </perspective>
      <perspective
            class="com.hhh.platform.ops.perspective.ProductDeployPerspective"
            id="com.hhh.platform.ops.perspective.product.deploy"
            name="产品部署透视图">
      </perspective>
      <perspective
            class="com.hhh.platform.ops.perspective.LogPerformancePerspective"
           	id="com.hhh.platform.ops.perspective.log.performance"
            name="性能日志透视图">
      </perspective>
      <perspective
            class="com.hhh.platform.ops.perspective.LogExceptionPerspective"
            id="com.hhh.platform.ops.perspective.log.exception"
            name="异常日志透视图">
      </perspective>
      <perspective
            class="com.hhh.platform.ops.perspective.LogRunPerspective"
            id="com.hhh.platform.ops.perspective.log.run"
            name="运行监控透视图">
      </perspective>
      <perspective
            class="com.hhh.platform.ops.perspective.ServerRunPerspective"
            id="com.hhh.platform.ops.perspective.server.run"
            name="服务器监控透视图">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.hhh.platform.ops.view.ProductRegisterView"
            id="com.hhh.platform.ops.view.product.register"
            name="产品信息"
            restorable="true">
      </view>
      <view
            class="com.hhh.platform.ops.view.ServerRegisterView"
            id="com.hhh.platform.ops.view.server.register"
            name="服务器信息"
            restorable="true">
      </view>
      <view
            class="com.hhh.platform.ops.view.ProductDeployView"
            id="com.hhh.platform.ops.view.product.deploy"
            name="部署信息"
            restorable="true">
      </view>
      <view
            class="com.hhh.platform.ops.view.LogPerformanceView"
            id="com.hhh.platform.ops.view.log.performance"
            name="性能日志"
            restorable="true">
      </view>
      <view
            class="com.hhh.platform.ops.view.LogExceptionView"
            id="com.hhh.platform.ops.view.log.exception"
            name="异常日志"
            restorable="true">
      </view>
      <view
            class="com.hhh.platform.ops.view.LogRunView"
            id="com.hhh.platform.ops.view.log.run"
            name="运行监控"
            restorable="true">
      </view>
      <view
            class="com.hhh.platform.ops.view.ServerRunView"
            id="com.hhh.platform.ops.view.server.run"
            name="服务器监控"
            restorable="true">
      </view>
      <view
            class="com.hhh.platform.ops.view.HomeLeftView"
            id="com.hhh.platform.ops.view.home.left"
            name="首页左视图"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="com.hhh.platform.ops.command.perspective.common"
               icon="icons/home.png"
               id="com.hhh.platform.ops.menu.home"
               label="首页"
               style="push">
            <parameter
                  name="perspectiveId"
                  value="com.hhh.platform.ops.perspective.home">
            </parameter>
         </command>
         <command
               commandId="com.hhh.platform.ops.command.perspective.common"
               icon="icons/pd1.png"
               id="com.hhh.platform.ops.menu.product.register"
               label="产品登记"
               style="push">
            <parameter
                  name="perspectiveId"
                  value="com.hhh.platform.ops.perspective.product.register">
            </parameter>
         </command>
         <command
               commandId="com.hhh.platform.ops.command.perspective.common"
               icon="icons/server.png"
               id="com.hhh.platform.ops.menu.server.register"
               label="服务器登记"
               style="push">
            <parameter
                  name="perspectiveId"
                  value="com.hhh.platform.ops.perspective.server.register">
            </parameter>
         </command>
         <command
               commandId="com.hhh.platform.ops.command.perspective.common"
               icon="icons/pd2.png"
               id="com.hhh.platform.ops.menu.product.deploy"
               label="产品部署"
               style="push">
            <parameter
                  name="perspectiveId"
                  value="com.hhh.platform.ops.perspective.product.deploy">
            </parameter>
         </command>
         <command
               commandId="com.hhh.platform.ops.command.perspective.common"
               icon="icons/logp.png"
               id="com.hhh.platform.ops.menu.log.performance"
               label="性能日志"
               style="push">
            <parameter
                  name="perspectiveId"
                  value="com.hhh.platform.ops.perspective.log.performance">
            </parameter>
         </command>
         <command
               commandId="com.hhh.platform.ops.command.perspective.common"
               icon="icons/logex.png"
               id="com.hhh.platform.ops.menu.log.exception"
               label="异常日志"
               style="push">
            <parameter
                  name="perspectiveId"
                  value="com.hhh.platform.ops.perspective.log.exception">
            </parameter>
         </command>
         <command
               commandId="com.hhh.platform.ops.command.perspective.common"
               icon="icons/logrun.png"
               id="com.hhh.platform.ops.menu.log.run"
               label="运行监控"
               style="push">
            <parameter
                  name="perspectiveId"
                  value="com.hhh.platform.ops.perspective.log.run">
            </parameter>
         </command>
         <command
               commandId="com.hhh.platform.ops.command.perspective.common"
               icon="icons/server_run.png"
               id="com.hhh.platform.ops.menu.server.run"
               label="服务器监控"
               style="push">
            <parameter
                  name="perspectiveId"
                  value="com.hhh.platform.ops.perspective.server.run">
            </parameter>
         </command>
         <command
               commandId="com.hhh.platform.ops.command.user.manager"
               icon="icons/user.png"
               id="com.hhh.platform.ops.menu.user.manager"
               label="用户管理"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.system"
               icon="icons/set.png"
               id="com.hhh.platform.ops.menu.system.setting"
               label="系统设置"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.hhh.platform.ops.view.product.register">
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.product.register.toolbar.add"
               label="新增"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.product.register.toolbar.update"
               label="修改"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               label="查看"
               id="com.hhh.platform.ops.view.product.register.toolbar.read"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               label="删除"
               id="com.hhh.platform.ops.view.product.register.toolbar.delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.hhh.platform.ops.view.product.deploy">
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.product.deploy.toolbar.add"
               label="新增"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.product.deploy.toolbar.update"
               label="修改"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               label="查看"
               id="com.hhh.platform.ops.view.product.deploy.toolbar.read"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               label="删除"
               id="com.hhh.platform.ops.view.product.deploy.toolbar.delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.hhh.platform.ops.view.log.performance">
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.log.performance.toolbar.read"
               label="查看"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.log.performance.toolbar.deal"
               label="处理"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.hhh.platform.ops.view.log.exception">
            <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.log.exception.toolbar.read"
               label="查看"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.log.exception.toolbar.deal"
               label="处理"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.hhh.platform.ops.view.log.run">
            <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.log.run.toolbar.read"
               label="查看"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.log.run.toolbar.deal"
               label="处理"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.hhh.platform.advisors.framework.toolbar.system">
         <command
               commandId="com.hhh.platform.orgnization.management.command.changepassword"
               icon="icons/info.png"
               id="com.hhh.platform.ops.toolbar.changepassword"
               label="账号设置"
               style="push"
               tooltip="账号设置">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeShell">
                  <test
                        forcePluginActivation="true"
                        property="com.hhh.platform.advisors.framework.mshell"
                        value="com.hhh.platform.ops.toolbar.changepassword">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.hhh.platform.advisors.framework.command.logout"
               icon="icons/power.png"
               id="com.hhh.platform.ops.toolbar.logout"
               label="注销"
               style="push"
               tooltip="注销">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeShell">
                  <test
                        forcePluginActivation="true"
                        property="com.hhh.platform.advisors.framework.mshell"
                        value="com.hhh.platform.ops.toolbar.logout">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.hhh.platform.ops.view.server.register">
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.server.register.toolbar.add"
               label="新增"
               style="push">
          </command>
          <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.server.register.toolbar.update"
               label="修改"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               label="查看"
               id="com.hhh.platform.ops.view.server.register.toolbar.read"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               label="删除"
               id="com.hhh.platform.ops.view.server.register.toolbar.delete"
               style="push">
         </command>
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.server.register.toolbar.product"
               label="产品列表"
               style="push">
         </command>
         
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.hhh.platform.ops.view.server.run">
         <command
               commandId="com.hhh.platform.ops.command.entity.common"
               id="com.hhh.platform.ops.view.server.run.toolbar.read"
               label="查看"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="html/body.html"
            id="com.hhh.platform.ops.branding.default"
            themeId="com.hhh.platform.ops.theme">
      </branding>
   </extension>
  <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.hhh.platform.ops.activity"
            name="activity of ops">
         <enabledWhen>
            <with
                  variable="activeShell">
               <test
                     property="com.hhh.platform.advisors.framework.shellid"
                     value="com.hhh.platform.ops.shell">
               </test>
            </with>
         </enabledWhen>
      </activity>
      <category
            id="com.hhh.platform.ops.category"
            name="category of ops">
      </category>
      <categoryActivityBinding
            activityId="com.hhh.platform.ops.activity"
            categoryId="com.hhh.platform.ops.category">
      </categoryActivityBinding>
      <!--<activityPatternBinding
            activityId="com.hhh.platform.ops.activity"
            isEqualityPattern="false"
            pattern="com\.hhh\.platform\.advisors\.framework/com\.hhh\.platform\.advisors\.framework\.toolbar.*">
      </activityPatternBinding>-->
      <activityPatternBinding
            activityId="com.hhh.platform.ops.activity"
            isEqualityPattern="false"
            pattern="com\.hhh\.platform\.ops\/com\.hhh\.platform\.ops\.menu.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.hhh.platform.ops.util.OPSPerspectiveSwitcherHandler"
            id="com.hhh.platform.ops.command.perspective.common"
            name="ops透视图切换按钮">
         <commandParameter
               id="perspectiveId"
               name="perspectiveId"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.hhh.platform.ops.util.OPSEntityHandler"
            id="com.hhh.platform.ops.command.entity.common"
            name="ops实体操作按钮">
      </command>
      <command
            defaultHandler="com.hhh.platform.ops.logic.system.SystemSettingHandler"
            id="com.hhh.platform.ops.command.system"
            name="系统设置">
      </command>
      <command
            defaultHandler="com.hhh.platform.orgnization.management.handler.OrgManagementHandler"
            id="com.hhh.platform.ops.command.user.manager"
            name="用户管理">
      </command>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="theme/theme2.css"
            id="com.hhh.platform.ops.theme"
            name="ops theme">
      </theme>
   </extension>
   <extension
         point="com.hhh.platform.advisors.framework.auth">
      <path
            authentication="true"
            authorization="true"
            id="/ops">
      </path>
      <path
            authentication="false"
            authorization="false"
            id="/ops_data">
      </path>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/ops/login"
            class="com.hhh.platform.ops.servlet.OPSLoginServlet"
            httpcontextId="org.eclipse.rap.httpcontext"
            load-on-startup="true">
      </servlet>
      <servlet
            alias="/ops/product_register"
            class="com.hhh.platform.ops.servlet.OPSShowDataServlet"
            httpcontextId="org.eclipse.rap.httpcontext"
            load-on-startup="true">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/ops/images"
            base-name="/icons">
      </resource>
   </extension>

</plugin>
